<div class="dropdown">
    <a class="dropdown-toggle language-selector-btn" href="#" role="button" aria-expanded="false"
        data-bs-toggle="dropdown">
        <span class="fi fi-{{currentFlag}} m-0"></span>
    </a>

    <ul class="dropdown-menu language-selector-list" aria-labelledby="Dropdown">
        <li class="language">
            <a class="dropdown-item" role="button" data-language="ar" (click)="selectLanguage('ar')">
                <span class="fi fi-eg flag me-2"></span>Arabic
                <i class="fa fa-check text-success ms-2" *ngIf="currentLang == 'ar'"></i>
            </a>
        </li>
        <li class="language">
            <a class="dropdown-item" role="button" data-language="en" (click)="selectLanguage('en')">
                <span class="fi fi-us flag me-2"></span>English
                <i class="fa fa-check text-success ms-2" *ngIf="currentLang == 'en'"></i>
            </a>
        </li>
    </ul>
</div>