<app-auth-layout>

  <div class="card">
    <div class="card-body">
      <!-- Logo -->
      <div class="app-brand justify-content-center">
        <a [routerLink]="['/']" class="app-brand-link gap-2">
          <span class="app-brand-logo demo"></span>
          <span class="app-brand-text demo text-body fw-bolder">{{ 'shared.app_name' | translate }}</span>
        </a>
      </div>
      <!-- /Logo -->
      <h4 class="mb-2">{{ 'users.login_title' | translate: { app_name: 'shared.app_name' | translate } }}</h4>
      <p class="mb-4">{{ 'users.login_subtitle' | translate }}</p>

      <form class="mb-3" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="email" class="form-label">{{ 'users.email_username' | translate }}</label>
          <input type="text" class="form-control" id="email" name="email-username" formControlName="username"
            [placeholder]="'users.enter_username_email' | translate"
            [ngClass]="{ 'is-invalid': submitted && f.username.errors }" autofocus />
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div class="animate__animated animate__headShake animate__fast" *ngIf="f.username.errors['required']">{{
              'shared.required' | translate }}</div>
          </div>
        </div>
        <div class="mb-3 form-password-toggle">
          <label class="form-label" for="password">{{ 'users.password' | translate }}</label>
          <div class="input-group input-group-merge" [ngClass]="{ 'invalid': submitted && f.password.errors }">
            <input type="password" class="form-control" id="password" name="password" formControlName="password"
              placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
              aria-describedby="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div class="animate__animated animate__headShake animate__fast" *ngIf="f.password.errors['required']">{{
                'shared.required' | translate }}</div>
            </div>
          </div>
        </div>
        <div class="mb-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="remember-me" />
            <label class="form-check-label" for="remember-me">{{ 'users.remember_me' | translate }}</label>
          </div>
        </div>
        <div class="mb-3">
          <button class="btn btn-primary d-grid w-100" type="submit">{{ 'users.login' | translate }}</button>
        </div>
      </form>

      <!-- <p class="text-center">
        <span class="me-1">{{ 'users.new_to_our_platform' | translate }}</span>
        <a [routerLink]="['/users/register']">
          <span>{{ 'users.create_account' | translate }}</span>
        </a>
      </p> -->
    </div>
  </div>

</app-auth-layout>