// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$CP-primary: mat.define-palette(mat.$indigo-palette);
$CP-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$CP-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$CP-theme: mat.define-light-theme((color: (primary: $CP-primary,
        accent: $CP-accent,
        warn: $CP-warn,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($CP-theme);

@import "/src/assets/css/core.scss";
@import "/src/assets/css/core.rtl.scss";
@import "/src/assets/css/theme-default.scss";
@import "/src/assets/css/theme-default.rtl.scss";
@import "/src/assets/css/demo.css";
@import "/src/assets/fonts/boxicons.css";
@import "/src/assets/libs/perfect-scrollbar/perfect-scrollbar.css";
@import '/node_modules/animate.css/animate.css';
@import '/src/assets/css/pages/page-auth.scss';
@import '/src/assets/css/pages/page-misc.css';
@import "/node_modules/flag-icons/css/flag-icons.min.css";
@import "/node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "/node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "/node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import 'ngx-toastr/toastr';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-dialog-title {
  font-family: inherit !important;
}

.mat-mdc-dialog-content {
  font-family: inherit !important;
  line-height: inherit !important;
  font-size: inherit !important;
  font-weight: inherit !important;
  letter-spacing: inherit !important;
}

.dialog-sm {
  width: 30%;
}

.dialog-md {
  width: 40%;
}

.dialog-lg {
  width: 70%;
}

@media only screen and (max-width: 760px) {
  .dialog-sm {
      width: 90%;
  }
  .dialog-md {
      width: 90%;
  }
  .dialog-lg {
      width: 90%;
  }
}

@media only screen and (min-width: 760px) and (max-width: 1024px) {
  .dialog-sm {
      width: 40%;
  }
  .dialog-md {
      width: 60%;
  }
  .dialog-lg {
      width: 80%;
  }
}

.mat-mdc-row .mat-mdc-cell {
  border: none !important;
}